/* 站点主题色变量-自定义-全局变量 */
$color-default: #ffff00;
$color-primary: #003478; //主色调
$color-success: #67C23A;
$color-info: #909399;
// $color-warning: #E6A23C;
$color-warning: #fff;
$color-danger: #F56C6C;
$color-navigationBar-font: #56708b;